---
title: WVA-Project
---

= partial "sidenav"

.project-container

  .container-fluid
    .row.p-2
      .p-2.col-lg-6.text-center
        = image_tag("/images/projects/wva/wva_tablet_1.png", class: "img-fluid img-shade")
      .p-2.col-lg-6
        %p This entire project was an amibitious endeavor for both my employer and myself.
