---
title: WVA-Project
---

= partial "sidenav"

.project-container

  .container
    .text-center= image_tag("/images/projects/wva/wva_multi_devices.jpg", class: "img-fluid")
    %p WVA is the best!
    

