---
title: WVA-Project
---

= partial "sidenav"

.project-container
  .container
    .text-center= image_tag("/images/projects/wva/wva_multi_devices.jpg", class: "img-fluid")
    %p WVA is an enterprise web application I developed from the ground up. This application includes a full e-commerce platform available only to WVA accounts. This application contains a fully implemented CMS (Content Management System) to help accounts maintain and easily update their websites. This project was completely rewritten from it's php predecessor to the Ruby on Rails framework.
    

