---
title: WVA-Project
---

= partial "sidenav"

.project-container

  .container-fluid
    .p-2
      = image_tag("/images/projects/wva/wva_multi_devices.jpg", class: "img-fluid")
    .p-2
      %p WVA is the best!
