//----------MAIN-------------//

body {
  background: black;
  max-height: 100vh;
  font-family: 'Poppins', sans-serif;
  color: #6c757d;
  -webkit-font-smoothing: antialiased;
}

.hide {
  display: none;
}

#top-nav {
  position: fixed;
  top: 15px;
  right: 0;
  z-index: 1;
  a {
    text-decoration: none;
    margin: 20px;
    color: white;
  }
}

a {
  color: rgba(#000, 0.7);

  &:focus,
  &:hover {
    color: rgba(#000, 0.6);
  }
}

p {
  font-size: 18px;
}

.no-pm {
  margin: unset;
  padding: unset;
}

.font-raleway {
  font-family: 'Raleway', sans-serif;
}

//----------MIXINS-------------//
// @mixin text-padding {

// }

//----------CUSTOM-------------//

#hello, #intro_text {
  display: inline;
}

.github_icon {
  cursor: not-allowed;
}

.mh-100 {
  min-height: 100vh;
}

.maxh-50 {
  max-height: 50vh;
}

.line {
  border-top: 5px white solid;
  width: 3em;
  margin: 1em 0 1em;
}


.line-2 {
  border-top: 5px black solid;
  width: 3em;
  margin: 1em 0 1em;
}

.top-banner {
  height: 100vh;
  filter: grayscale(100%);
  background: black;
  -webkit-filter: grayscale(100%);
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;

  .top-banner-text {
    color: white;
    .logo {
      max-width: 100px;
      max-height: 100px;
    }
  }

  .middle-banner-text {
    color: white;
    padding-top: 12em;
  }

}

.top-bottom-p {
  padding-top: 20%;
}

#slogan {
  .stay {
    padding-top: 10vh !important;
  }
}

#intro {
  height: 100vh;
}

#projects {
  min-height: 100vh;
}

#contact {
  padding: 3em;
}

.wva-landing, .srrs-landing {
  border-radius: 2px;
  max-height: 40vh;
  overflow: hidden;
  img {
    transition: all 0.5s ease-in-out;
  }
  img:hover {
    -webkit-transform: scale(1.1); 
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
  }
}

.project-animate {
  width: 100vw;
  -webkit-transition: width 0.5s; /* Safari */
  transition: width 0.5s;
}

.stock-img {
  width: 100vw;
  height: 60vh;
}
