.sidenavbarleft{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 0px;
  background-color: black;
  z-index: 9999;
  a {
    text-decoration: none;
  }
  .black {
    color: black;
  }
}

.sidebar-back {
  font-size: 1.5rem;
}

.project-container {

  .ripple {
    height: 100vh;
  }

  .img-shade {
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
  }
}

.animate-sidebar {
  width: 100vw;
  -webkit-transition: width 0.5s; /* Safari */
  transition: width 0.5s;
}
