#contact
  .container.text-center.py-5
    %h4.font-raleway Contact.
    .py-1= link_to "Github", "https://github.com/Kaoxyooj", target: "_blank"
    .py-1= link_to "LinkedIn", "https://www.linkedin.com/in/kao-xiong-620608119", target: "_blank"
    .py-1 #{mail_to "kaoxyooj@icloud.com"}