#top-banner.top-banner
  .container.middle-banner-text
    %h1#hello
    .line
    %h1#intro_text.font-raleway


#intro
  .container
    .top-bottom-p
      %h1.font-raleway About Me.
      .line-2.py-2
      %p I'm a Full-Stack Web Developer from Milwaukee, Wisconsin. I have a huge passion for building custom REST APIs and designing clean, responsive UI utilizing SASS. I currently work at Wisconsin Vision Associates as a Full-Stack Web Developer where I build and maintain web applications. I perform best after coffee consumption.
      #slogan.font-raleway
        .stay.row.no-pm.py-5.text-center
          .p-2.col-lg-4.text-center
            %h4 < Stay_Clean >
          .p-2.col-lg-4
            %h4 stay = (Simple) ->
          .p-2.col-lg-4
            %h4 def StayCoding

.stock-img

#projects
  .container
    .top-bottom-p
      %h1.font-raleway Projects.
      .line-2.py-2

      .pb-5
        %p WVA - Enterprise Web Application  
        .wva-landing= link_to image_tag("projects/wva/wva3.png", class: "img-fluid"), "projects/wva"

      .py-5
        %p SRRS - Proprietary Analytics Dashboard
        .card.srrs-landing= link_to image_tag("projects/srrs/srrs5.png", class: "img-fluid"), "projects/srrs"
    