.top-banner

  .container.middle-banner-text
    %h1 Hi, I'm Kao.
    .line
    -#%h1 Full-Stack Engineer
    -#%h5 Ruby on Rails Specialist - JavaScript Enthusiast - SASS Aficionado


.py-5
  #intro
    .container
      %h1 Me.
      .line-2
      %h5 I'm a Full-Stack Web Developer from Milwaukee, Wisconsin. I have a huge passion for building custom API implementations, clean responsive UI and animated effects.

.py-5
  #projects
    .container
      %h1 Works.
      .line-2
      %h5 Here are some of my previous endeavors...

.my-edu.py-5