.top-banner
  .container.middle-banner-text
    %h1 Hi, I'm Kao.
    .line
    %h1#intro_text

      

.container
  #intro.top-bottom-p
    %h1 About Me.
    .line-2
    %h5 I'm a Full-Stack Web Developer from Milwaukee, Wisconsin. I have a huge passion for building custom APIs and designing clean, responsive UI utilizing SASS. I currently work at Wisconsin Vision Associates as a Full-Stack Web Developer where I build and maintain web applications. Learning new skills and technology is my forte and applying what I've learned is one of my many ambitious goals.

  #projects.top-bottom-p
    %h1 My Projects.
    .line-2
    .row
      .col-md-6
        = image_tag "wva_ss.png", class: "img-fluid"
      .col-md-6
        


    

.my-edu.py-5