---
title: Welcome to Middleman
---

%svg.middleman-logo{xmlns: "http://www.w3.org/2000/svg", "aria-labelledby" => "middleman-logo__title", role: "img"}
  %title#middleman-logo__title "Middleman"
  = partial "yolo"

%h1 Soggy is Fire!

= link_to "Read Documentation", "https://middlemanapp.com/basics/templating_language/", target: "_blank"